<div class="user-details">
  <div class="portrait">
    <img class="me" src="assets/img/praveen.jpg" style="max-width: 70%" style="max-height: 100%">
  </div>

  <div class="introduction">
    <h2>My Expertise</h2>
    <p>{{ site.user_description }}</p>
    
    
    <h2>A void to fill</h2>
    
    <p> This is my portfolio page. I have used various platforms to collaborate with coworkers, including Git, but also others. As a Software development professional, my Github profile is not the best representation of my work as a whole. I think a lot of developers feel that way, especially if they work in the private sector and are not heavily contributing to Open Source. (Software Engineers shouldn't necessarily be measured by their Github profiles!)</p>

    <p>Thus, enter the portfolio site! I decided to make this site to show others what I have really been working on and to catalog my achievements!</p>
  </div>
</div>

<div class="user">
  <div class="tech">
    <h2>Programming Languages</h2> 
    
     <div class="tech">
        <img src="assets/img/Java_logo_icon.png" style="width: 100%;" style="height: 50%;">
       
    <p>My main development languages are Java and JEE, though I have worked I have extensively with JavaScript,CSS and more.</p>
    </div>
    </div>
  <div class="tech">
    <h2>Development Tools</h2>
     <div class="tech">
        <img src="assets/img/spring_.png" style="width: 100%;">
    <p>My specialties are SpringFramework, SpringBoot, Hibernates, Webservices (SOAP and REST), Maven, Gradle, Git, SVN, MongoDB, MySQL, PostgreSQL on Rails.</p>
  </div>
  </div>
  </div>

<div class="user">
  <div class="tech">
   <h2>Resume</h2>
    <div class="tech">
	<img src="assets/img/resume.png" style="width: 100%;">
      <p>Here is a copy of my professional resume for your perusal.</p>
      <p><a href="assets/pdf/resume.pdf">pdf</a> / <a href="https://drive.google.com/file/d/1QaLWlv1ksmcIi2QWII1zMEKt5SC4ZQ3T/view?usp=sharing">gdrive</a></p>
    <p><i class="fa fa-whatsapp"><a aria-label="My WhatsApp" target="_blank" href="https://wa.me/919490137902/?text=Hello"> WhatsApp</a></i>
   </p>
  </div>
  </div>
  </div>
  <div class="tech">
  <h2>Certification</h2>
  <div class="tech">
   <img src="assets/img/aws-cert.jpg" style="width: 100%;">
   <div class="tech">  
      <p>Here is a copy of my professional Certifications.</p>
      <p><a href="assets/pdf/Agile Software Deveolopment.pdf">Agile Software Deveolopment</a>  </p>
	  <p><a href="assets/pdf/AWS.pdf">AWS</a>  </p>
  </div>
  </div>
  </div>
  </div>

  <h2>Currently looking for a Java developer role!</h2>
  <div>
    <p>As of , I'm looking for a role as a Software development and Web development so if you are hiring Software developers, please reach out to me! I am based in Seattle, WA but I am also willing to work remotely.</p>
  </div>

  <div class="work-history">
        <h1>Professional Work History:</h1>
        <strong>Full-time work experience</strong>
        <p>Currently I am working on Capgemini technology Services India Ltd as an Associate Consultant. previously worked at Huawei Technologies India Pvt.Ltd, Bangalore, India. Here is what I have worked on since Post graduating from Sree Vidyanikethan Engineering College in 2018:</p>

      
      </div>


   
    <div class="additional-interests">
      <h1>Additional interests / learning</h1>

      <strong>Open Source</strong>
          <p>Upcoming projects  I am interested to work with SpringBoot with Microservices and  learning Artificial Intelligence and Machine Learning</p>
 </div>
</div>
